{% extends 'base.html' %} {% block content %}
<div class="row" style="font-family: 'Amaranth', sans-serif">
  <h1 class='title text-center'>{{title}}</h1>
  <div class="row"> {% for project in projects %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="" class="thumbnail" target="_blank">
          <img src="{{project.project_image.url}}" data-src="holder.js/100%x200" alt="Project" style="height: 200px; width: 100%; display: block;" src=""
            data-holder-rendered="true">
        </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
