<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-inverse" style="font-family: 'Shrikhand', cursive">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'allProjects' %}">NEWTON KIPNG'ENO BII</a>
      </div>
      <div class="navbar-right">
        <div class="navbar-brand">
          PROJECTS
        </div>
      </div>
    </div>
  </nav>
</body>

</html>
