{% extends 'base.html' %}

{% block content %}
<div class="row">
  <h1 class="text-center">My Projects</h1>
  <div class="col-xs-12 col-md-4 col-sm-3">
    <div class="wrapper cards">
      <div class="container">
        <div class="card">
          <div class="front"><img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt="" class="img-responsive">
          </div>
          <div class="back">
            <div class="content">
              <h3 class="cardTitle">Who am I?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales, mi ac vulputate blandit, libero nulla bibendum quam.</p>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>

{% endblock %}
